/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

/* ================== 980 - 740 px ===================== */
.container-12 {
/*    background: #fff;*/
}
#zone-content{
/*    background: none;*/
}

/************************* HELPERS *************************/
html {
/*     background: plum; */
}

/************************* NYTT *****************************/
.personal-container .personal-column {
    width: 48%;
    float: left;
    margin-bottom: 20px;
}
.personal-container .personal-column img{
    width: 100%;
    height: auto;
}
.personal-container .personal-column:first-child{
    padding-right: 1%;
}
.personal-container .personal-column:last-child{
    padding-left: 1%;
}
.publikationer-lista .ds-3col > .group-middle {
    width: 40% !important;
    line-height: 15px;
}
.publikationer-lista .ds-3col > .group-right {
    width: 17% !important;
    padding-left: 15px;
}
.publikationer-lista .ds-3col > .group-left{
    width: 28% !important;
}
.publikationer-lista .ds-3col > .group-left img{
    width: 120px !important;
    height: auto;
}
#block-menu-menu-nordicom-review{
    display: none;
}
/************************* STRUKTUR *************************/
html {
/*    background: #fafafa;*/
}
body {
    margin: 10px;
}
input {
    max-width: none;
}
#zone-preface .grid-12 {
    width: 710px;
}
.container-16 {
    width: 100%;
}
.grid-16 {
    margin-right: 0 !important;
    margin-left: 0 !important;
    width: 720px !important;
}
.front{ 
    .region-sidebar-second{ 
        section{
            margin-bottom: 20px;

        }
        section#block-views-snabbv-gar-block{
            display: block;
        }
    }
}
#zone-user-wrapper {
    position: static;
}
#zone-user-wrapper #zone-user {
    padding-bottom: 0;
}
#zone-branding-wrapper {
    position: static !important;
    padding-top: 0;
    border-bottom: none;
}
#zone-branding {
    margin-top: 0;
    padding-bottom: 0;
    min-height: 0;
}
#zone-branding img {
    max-width: none;
    margin-top: 0;
}
#region-content .region-inner {
    padding-left: 0;
    padding-right: 0;
}

/* LEFT SIDEBAR */
#region-sidebar-first {
    display: block;
}
.region-sidebar-first-inner {
    padding: 0 !important;
}

/* RIGHT SIDEBAR */
.block-views-puffar-loggor-frontpage-block {
    padding-left: 0px;
}
.front .region-sidebar-second section {
    padding-left: 0px;
}
aside#region-sidebar-second {
    padding-left: 0px;
    background: url("img/dashed-ver.jpg") repeat-y;
    margin-top: 0px;
}
aside#region-sidebar-second .region-inner {
    padding-left: 0;
    padding-right: 0;
}
aside#region-sidebar-second .region-sidebar-second-inner {
    padding-left: 10px;
}
.region-sidebar-second a,
.region-preface-second a {
    font-size: 13px;
    line-height: normal;
    font-weight: 600;
}
.region-sidebar-second .views-exposed-widget label {
    font-weight: 15px;
}
.region-sidebar-second .views-exposed-form .form-item label {
    font: 400 12px "Source Sans Pro",sans-serif;
    line-height: 20px;
    margin: 0;
}
.region-sidebar-second ul.menu li a {
    font-size: 13px;
}
/*Postscript*/

.zone-postscript-wrapper{
    display: block;
    background: url(img/postscript-bakgrund.jpg) repeat-x #87888a;
}
.zone-postscript h2{
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 6px;
    font: 700 10px 'Source Sans Pro', sans-serif;
}
.zone-postscript{

    position: relative;	
    z-index: 5;
    padding: 15px 10px;
}

.zone-postscript ul.menu li{
    list-style-image: none;
    list-style-type: none;
    margin: 0;
    line-height: 15px;
}
.zone-postscript ul.menu li a{
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 16px;
}

.zone-postscript  a{
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    line-height: 16px;
}
.region-postscript-first .region-inner .block{
    margin-bottom: 1rem;
}


/* TYPOGRAFI */
h2.block-title {
    font-size: 15px;
}
p {
    font-size: 15px;
    line-height: 21px;
}
.page-aktuellt-nyheter #region-sidebar-second h2.block-title,
.page-latest-news #region-sidebar-second h2.block-title,
.page-aktuellt-nyhetsarkiv #region-sidebar-second h2.block-title,
.page-current-topics-newsarchive #region-sidebar-second h2.block-title {
    font-size: 18px;
}
.region-content h4 {
    font-size: 16px;
    line-height: normal;
}
.standard-lista {
    font-size: 13px;
    line-height: 19px;
}
.views-exposed-form .views-exposed-widget {
    padding: .5em 1em 0 0;
}
.views-exposed-form .exposed-label {
    margin-bottom: 2px;
}
.view-medieforskning-konferenser p,
.view-unga-och-medier-konferenser p,
.view-medieforskning-konferenser-arkiv p {
    font-size: 13px;
    line-height: 21px;
}
#region-sidebar-second .views-field-created {
    line-height: 12px;
}
#region-sidebar-second .views-field-created span {
    font-size: 11px;
}
.region-sidebar-second .nyheter .views-field-created {
    font-size: 11px;
}
.region-sidebar-second .nyheter,
.region-sidebar-second .nyheter p,
.region-sidebar-second .nyheter a {
    font-size: 13px;
    line-height: 19px;
}
.region-sidebar-second .nyheter h4 {
    line-height: 12px;
}

/* PAGER */
ul.pager {
    margin-bottom: 20px;
}
.pager-item a,
.region-content .block-views .pager-item a {
    padding: 0px 4px !important;
    font-size: 12px;
}
.pager-current {
    padding: 0px 4px !important;
}
#block-system-main .content ul li.pager-current {
    font-size: 15px;
}
.pager-first,
.pager-previous,
.pager-next,
.pager-last {
    display: inline;
}
.pager-previous {
    margin-bottom: 2px !important;
}
.pager-next {
    margin-top: 2px !important;
}



/* SLIDESHOW */
#views_slideshow_cycle_teaser_section_frontpage-page_1 {
    width: 500px !important;
}
.views_slideshow_slide {
    width: 500px !important;
}
#region-content .frontpage-slideshow h1 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 5px !important;
}
.frontpage-slideshow p {
    font-size: 16px !important;
    line-height: 22px !important;
    margin-bottom: 0;
    padding-right: 0;
}
#region-content .frontpage-slideshow {
    max-width: none;
}


/* TOP LOGGOR */
#region-nordicom {
    display: block;
}
#zone-branding img.gulogga {
    height: auto;
    max-width: 200px;
}
#zone-branding img.ministerlogga {
    max-width: 130px;
    height: auto;
    margin-bottom: 6px;
}


/* BANNERS */
#zone-header p.bannertext {
    font-size: 24px;
    line-height: 40px;
    padding: 34px 3px 3px 60px;
    width: auto;
}
.frontgreybanner {
    width: 720px;
    height: 200px;
}
.reviewbanner,
.informationbanner,
.medicalbanner {
    width: 720px;
    height: auto;
}



/* STARTBLOCK */
.sma-start-block img {
    object-fit: contain;
    max-width: 150px;
}
.block-views-puffar-startsida-block,
.block-views-puffar-startsida-block-1,
.block-views-puffar-startsida-block-2 {
    width: 30%;
    margin-bottom: 0;
    padding-left: 12px;
}
.block-views-puffar-startsida-block .block-inner,
.block-views-puffar-startsida-block-1 .block-inner,
.block-views-puffar-startsida-block-2 .block-inner {
    padding-left: 0;
    padding-right: 0;
}
.block-views-puffar-startsida-block h2.block-title,
.block-views-puffar-startsida-block-1 h2.block-title,
.block-views-puffar-startsida-block-2 h2.block-title {
    font-size: 15px;
}
.view-puffar-startsida h3 a,
.view-puffar-startsida a h3 {
    font-size: 15px;
}
.block-views-puffar-startsida-block .field-content p,
.block-views-puffar-startsida-block-1 .field-content p,
.block-views-puffar-startsida-block-2 .field-content p {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}
.block-views-puffar-startsida-block img,
.block-views-puffar-startsida-block-1 img,
.block-views-puffar-startsida-block-2 img {
    padding-right: 0;
}


/* POSTSCRIPT */
.zone-postscript-wrapper {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
#zone-postscript {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 700px;
    grid-gap: 10px 5px;
}
#zone-postscript div.region {
    width: auto;
}
.zone-postscript h2 {
    font-size: 14px;
}
.zone-postscript ul.menu li a {
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
}



/* FOOTER */
.zone-footer p {
    font-size: 13px;
    max-width: 566px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
    padding: 0;
}

/* BODY */
.content .node .field-name-body img {
    object-fit: contain;
    max-width: 500px;
    padding-right: 0;
}


/* BOCKER */
.publikationer-lista .ds-3col > .group-middle {
    width: 50% !important;
    line-height: 15px;
}
.publikationer-lista .ds-3col > .group-right {
    width: 20% !important;
    padding-left: 0px;
    text-align: left;
    padding-right: 0;
}


/* NYHETER */
.field-name-nyheter-top-full-teaser,
.node-pressmeddelanden .field-name-post-date {
    font-size: 13px;
}
.node-nyheter .field-name-body img {
    padding-right: 0;
}

/* MEDIAFAKTA */
.view-mediefakta-l-nkar p,
.view-mediefakta-l-nkar {
    font-size: 13px;
    line-height: 21px;
}


/* TIDSKRIFTER */
#edit-field-namn-filtrering-tid {
    width: auto;
}


/* DELA BLOCK */
#block-block-22 {
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
}
#block-block-22 h2.block-title {
    float: none;
    margin-right: 0;
    margin-top: 0;
}


/* KONFERENSER START */
.view-konferenser-startsidan p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

/* CART */
ul.inline li.line-item-summary-view-cart {
    display: inline-block;
    padding-bottom: 10px;
}
ul.inline .line-item-summary-checkout {
    padding-right: 5px;
}

/* EXTRA PADDING PA VISSA SIDOR */
/* Rapporttips, konferenser */
.page-node #region-content .region-inner,
.view-medieforskning-konferenser,
.view-medieforskning-konferenser-arkiv,
.view-publikationer {
    padding-right: 20px;
}

.page-checkout .block-system-main,
.page-checkout #page-title,
.page-cart .block-system-main,
.page-cart #page-title,
.node-type-webform .block-system-main,
.node-type-webform #page-title {
    padding-right: 0;
    padding-left: 0;
}


/************************* MENYN  ***************************/

/* Normala Menyn */
#block-superfish-1 {
    display: block;
    height: 30px;
}

/* Mobil Menyn */
#block-superfish-2 {
    display: none;
}

.block-superfish-1 ul.menu li a {
    padding-left: 15px;
    padding-right: 15px;
}

ul.menu li li a {
    padding-right: 5px;
}